@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@font-face{
    font-family: DIGITAL;
    src:url(./assets/digital-7.regular.ttf)
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #808080;
  color:white;
  background-size: cover;
  
}


div h1, #word{
    text-align: center;
    text-shadow: 2px 2px 8px #FF0000;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: none;
    margin-top:40px;
    grid-column-gap: 50px;
}

#gamematrix{
    display:grid;
    grid-template-columns: repeat(6,auto);
    border: 8px solid black;
    grid-auto-rows: 60px;
    border-radius: 6px;

}

#gamematrix  button{
    background-color: white;
    margin:5px; 
    border-radius: 8px; 
}

button:hover{
    background-color:purple;
    color:black;
}


#footer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-right:100px
}

#timer h2{
     margin-top:20px;
     text-align: center;
     box-sizing: border-box;
     height:10px;
}

#time{   
    font-size: 3.5em;
    font-family: DIGITAL;
}
#Score{
    margin-top:150px;
}

#main{   
    margin-left:30px;
}

#main ul{
    border:1px solid white;
}

#main ul li{
    margin:20px;
}
.button{
    margin-left: 280px;
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #555555;
    /*background-color:whitesmoke;*/ 
}

h3{
    text-align: center;
    color:black;
    font-size: 1.5em;
}

.item{
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}

#again{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}

#nextLevel{
    margin:25px;
}

#clear{
    margin:10px;
}